* {
    margin: 0px;
    padding: 0px;
}

/* //影院首行 */
.home{
    width: 100%;
    position: relative;
    margin-bottom: 1000px;
    background-color: #fafafa;
}
header{
    height: 1.17333rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    
    
    z-index: 100;
}
.coment{
    width: 90%;
    height: 10rem;
    /* background-color: aqua; */
    border-radius: 0.16rem 0.16rem;
    border: 1px solid #EBEBEB;
    margin: 5%;
    background-color: #fefefe;
}
.nav{
   width: 100%; 
   height: 3rem;
   /* background:red; */
   
}
.navimg{
    color: black;
    display: block;
   
    width: 60%;
    height: 3rem;
    /* background-color: blueviolet; */
}
.navnimg{
    float: left;
    width: 40%;
    height: 100%;
    /* background-color: chartreuse; */
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 0.16rem 0.16rem;
}
.wpap{
    /* font-size: 16px; */
    width: 60%;
    height: 100%;
    float: left;
}
.name{
    margin-top: 1rem;
    font-size: 0.4rem;
    font-weight: 600;
    
    
}
.count{
    margin-top: 1rem;
    font-size: 0.4rem;
    line-height: 0px;
}

.right{
    color: black;
    display: block;
    float: right;
    width: 40%;
    height: 80%;
    /* background-color: cornflowerblue; */
    margin-top: -2.5rem;

}
.tot{
    margin-top: 1rem;
    margin-right: -2rem;
}

/* 轮播图 */
.banner{
    /* width: 100%; */
    height: 8rem;
    /* background-color: darkgoldenrod; */
}


.banner .hot_list .hot_list_item{
    width: 2.66667rem;
    height: 3.62667rem;
    border-radius: 0.13333rem;
    overflow: hidden;
    border: solid 1px #ebebeb;
}

.banner .hot_list .hot_list_item img{
    border: none;
    border-color: transparent;
    vertical-align: middle;
    /* width: 100%; */
    height: 100%;
}

.banner .hot_list a h3{
    line-height: 0.56rem;
    min-height: 1.09333rem;
    font-size: 0.37333rem;
    color: #232323;
    margin-top: 0.29333rem;
    width: 90%;
    font-weight: normal;  
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#swiper_slide_active{
    width: 2.7rem!important;
    margin-right: 8px!important;

}



